<main class="main">
  <section class="group-info">
      <h2 class="group-info__name">Nombre del grupo</h2>
      <ul class="group-info__actions">
          <li class="group-info__action">
              <button type="button" class="group-info__new-user">
                  <svg class="icon" width="32" height="32" aria-hidden="true" focusable="false">
                      <use xlink:href="../../assets/imgs/user.svg"></use>
                  </svg>
                  <span class="visually-hidden">Nuevo Usuario</span>
              </button>
          </li>
          <li class="group-info__action">
              <button type="button" class="group-info__new-expense">
                  <svg class="icon" width="32" height="32"  aria-hidden="true" focusable="false">
                      <use xlink:href="../../assets/imgs/expense.svg"></use>
                  </svg>
                  <span class="visually-hidden">Nuevo Gasto</span>
              </button>
          </li>
      </ul>
  </section>
<app-expenses-list [expenses]="expensesData" [users]="usersData"/>
<app-balances-list [expenses]="expensesData" [users]="usersData"/>
</main>