<div class="pop-up" data-testid="newExpensePopup">
  <div class="pop-up__overlay"></div>
  <div class="pop-up__box">
    <h2 class="pop-up__title">Nuevo gasto</h2>
    <div class="pop-up__form">
      <form [formGroup]="newExpenseForm" (ngSubmit)="onSaveExpense()" novalidate>
        <div class="pop-up__form-item">
          <label class="pop-up__label" for="newExpenseName">* Nombre: </label>
          <input
            class="pop-up__input"
            id="newExpenseName"
            data-testid="newExpenseName"
            type="text"
            formControlName="name"
            required
          />
        </div>
        <div class="pop-up__form-item">
          <label class="pop-up__label" for="newExpenseAmount">* Cantidad: </label>
          <input
            class="pop-up__input"
            id="newExpenseAmount"
            data-testid="newExpenseAmount"
            type="number"
            formControlName="amount"
            required
          />
        </div>
        <div class="pop-up__form-item">
          <label class="pop-up__label" for="newExpenseUser">* Usuario</label>
          <select
            class="pop-up__input"
            id="newExpenseUser"
            data-testid="newExpenseUser"
            formControlName="user"
            required
          >
            <option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </option>
          </select>
        </div>
        <p [class.pop-up__form--error]="!newExpenseForm.valid">* Campo obligatorio</p>
        <div class="pop-up__btn-wrapper">
          <button class="pop-up__btn" type="submit" data-testid="saveExpenseBtn" [disabled]="!newExpenseForm.valid">
            Añadir
          </button>
          <button class="pop-up__btn" type="button" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
