.pop-up {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pop-up__overlay {
  background: var(--c-secondary);
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.pop-up__box {
  position: relative;
  margin: 35% auto;
  width: 85vw;
  background: white;
  border: 2px solid var(--c-primary);
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  
  z-index: 1;
}

.pop-up__title {
  margin-bottom: 2rem;
}

.pop-up__form {
  gap: 1.5rem;
}

.pop-up__btn {
  background: var(--c-primary);
  color: var(--c-secondary);
  border: none;
  transition: background ease-in 1s, color ease-in .5s;
  border-radius: 0.25rem;
  font-weight: var(--fw-bold);
  padding: 0.5rem 0;
}

.pop-up__btn:hover {
  background: var(--c-secondary);
  color: var(--c-primary);
}

.pop-up__form-item {
  margin-bottom: 1rem;
}

.pop-up__label {
  display: block;
}
.pop-up__input {
  padding: 0 0.25rem;
  height: 36px;
  width: 100%;
}

.pop-up__btn-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1rem;
}